@tailwind base;
@tailwind components;
@tailwind utilities;






.tapered-border {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgb(46, 55, 71), transparent);
    transform: scaleY(0.5);
    transform-origin: center;
    transition: transform 0.5s ease;

}



.tapered-border::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: inherit;
    transform: scaleY(0.25);
    transform-origin: center;
    transition: transform 0.5s ease;

}

.second-border{
    opacity: 0;
    transition: opacity 0.5s ease;

}


.show-border:hover .second-border{
    display: block;
    opacity: 1;
}